.card {
  box-shadow: 0 4px 8px 0 rgba(8, 0, 122, 0.5);
  transition: 250ms;
  border-radius: 5px; /* 5px rounded corners */
  width: 200px;
  display: flex;
  place-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  box-sizing: border-box;
  color: black;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 28px 56px 0 rgba(8, 0, 122, 0.5);
}

/* Add some padding inside the card container */
.container {
  padding: 2px;
  width: 150px;
  text-align: center;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button a:hover {
  background: rgb(24, 15, 156);
}

a {
  color: black;
}
